html {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	*,*:before,*after {
	-webkit-box-sizing:inherit;
		-moz-box-sizing:inherit;
		box-sizing:inherit;
	}
	#container {
		display:grid;
		grid-template-columns:repeat(12, 1fr);
		grid-gap:1em;
		grid-auto-rows:minmax(150px, auto);
		max-width:1200px;
		position:relative;
		margin:0 auto;
	}
.center {
  			display: block;
  			margin-left: auto;
  			margin-right: auto;
			margin-top:auto;
			margin-bottom:auto;
  			width: 50%;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 30px;
}
	form.example input[type=text] {
  		padding: 10px;
  		font-size: 17px;
  		border: 1px solid grey;
  		float: left;
  		width: 80%;
  		background: #f1f1f1;
}
	form.example button {
  		float: left;
 		width: 20%;
  		padding: 10px;
 		background: #2196F3;
  		color: white;
  		font-size: 17px;
  		border: 1px solid grey;
  		border-left: none; /* Prevent double borders */
  		cursor: pointer;
}
	form.example button:hover {
  		background: #0b7dda;
}
	form.example::after {
  		content: "";
  		clear: both;
  		display: table;
}